<header class="header">
    <div class="header__finder">
        <input class="header__finder--search" type="text" placeholder="Name of the cocktail" [(ngModel)]="inputSearch">
        <button class="header__finder--find" (click)="findCocktail(inputSearch)">Buscar</button>
    </div>
</header>

<!-- Cards -->
<div class="cards" *ngIf="findItCocktails">
    <div class="card" *ngFor="let cocktail of findItCocktails">
        <div class="card__image">
            <img [src]="cocktail.strDrinkThumb" alt="" srcset="">
        </div>
        <!-- <div class="card__data">
            <table>
                <tr>
                    <td class="property">{{cocktail.nombre}} ({{cocktail.peso_promedio}} kg)</td>
                </tr>
                <tr *ngIf="cocktail.numero_patas > 0">
                    <td>
                        <span class="value">
                            Tiene {{cocktail.numero_patas}} 
                            {{(cocktail.numero_patas > 1) ? "patas" : "pata"}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="value">Su color predominante es el {{cocktail.color_predominante}}</span></td>
                </tr>
                <tr>
                    <td><span class="value"><span class="property">Su alimentación</span>: {{cocktail.alimentacion}}</span></td>
                </tr>
                <tr>
                    <td><span class="value"><span class="property">Su habitat</span>: {{cocktail.habitat}}</span></td>
                </tr>

                <tr>
                    <td class="value" *ngIf="cocktail.volador">Volador</td>
                </tr>
            </table>
        </div> -->
    </div>
</div>
