<!-- Search -->
<header class="header">
    <div class="header__finder">
        <input class="header__finder--search" (keyup)="findCocktail(inputSearch, $event)" type="text" placeholder="Nombre del cocktail" [(ngModel)]="inputSearch">
        <button class="header__finder--find" (click)="findCocktail(inputSearch, $event)">Buscar</button>
    </div>
</header>

<!-- Cards -->
<div class="cards" *ngIf="findItCocktails">
    <div class="card {{drink.animatedClass}}" *ngFor="let drink of findItCocktails; let i = index">
        <div class="card__image">
            <img [src]="drink.strDrinkThumb" alt="Drink Image" class="card__image">
        </div>
        <div class="card__content">
            <h3 class="card__title">{{ drink.strDrink }}</h3>
            <p class="card__category">Category: {{ drink.strCategory }}</p>
            <p class="card__alcoholic">{{ drink.strAlcoholic }}</p>
            <p class="card__instructions">{{ drink.strInstructions }}</p>

            <button class="card__button" (click)="toggleIngredients(drink.idDrink, i)">{{drink.showIngredients ? 'Close' : 'Show'}} Ingredients</button>
            
            <section class="card__ingredients" *ngIf="drink.showIngredients">
                <h4 class="card__subtitle">Ingredients:</h4>
                <ul class="card__ingredient-list" *ngIf="drink.ingredients">
                    <li *ngFor="let ingr of drink.ingredients">
                        <p>{{ingr}}</p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

<div *ngIf="!findItCocktails">
    <p class="text-info">
        Busca el cocktail que más te guste y encuentra sus ingredientes ;)
    </p>
</div>


